<h1>Products</h1>

<%= link_to "Login", new_session_path unless authenticated? %>
<%= link_to "New Product", new_product_path if authenticated? %>

<div id="products">
    <% @products.each do |product| %>
      <div>
        <%= link_to product.name, product_path(product.id) %> <br>
        <%= image_tag product.featured_image if product.featured_image.attached? %>

      </div>
    <% end %>

</div>